@use "colors" as *;
@use "mixins" as *;
@use "animations" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Lato", sans-serif;
	font-size: 1.6rem;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.logo {
	position: fixed;
	height: 100px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 11;
	&-kim {
		position: fixed;
		top: 1.1em;
		left: 1em;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 3rem;
		font-weight: bold;
		color: $mainColor;
	}
}

.navbar-desktop {
	display: none;
}

.navbar-mobile {
	position: fixed;
	display: flex;
	height: 100vh;
	width: 100%;
	transform: translateX(100%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 10;

	&--active {
		transform: translateY(0);
	}

	&__links {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-top: 4em;
		width: 100%;
	}

	&__link {
		color: $white;
		margin: 0.5em;
		padding: 1em;
		font-size: 2.5rem;
		text-transform: uppercase;
		text-decoration: none;

		&:hover {
			color: $mainColor;
		}
	}
}

.navbar {
	display: none;
	width: 100%;
	height: 100%;
}
.burger-btn {
	position: fixed;
	top: 1.5em;
	right: 1.5em;
	padding: 1em 2em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 100;

	&__bars,
	&__bars::before,
	&__bars::after {
		@include burgerBTN;
	}

	&__bars {
		width: 100%;

		&::after {
			top: 13px;
			width: 100%;
		}
		&::before {
			top: 27px;
			width: 100%;
		}
	}
}

// HEADER

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url("../img/coding-small.jpg");
	background-size: cover;
	background-position: center;

	&-bg__shadow {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.6);
	}

	&__title {
		position: absolute;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: $white;

		span {
			color: $mainColor;
		}
	}

	&__text {
		position: relative;
		margin-top: 4em;
		text-transform: uppercase;
		color: $white;
	}

	&__arrow {
		display: none;
	}
}

//MAIN

//O NAS

.about-us {
	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-weight: bold;

		&-one {
			padding-top: 1em;
			text-transform: uppercase;
			align-items: center;

			&--circle {
				display: none;
			}

			&-title {
				font-size: 2em;
				letter-spacing: 0.2em;
			}
		}

		&-two {
			padding: 2em;

			&-text {
				position: relative;
				font-size: 2.7rem;
				letter-spacing: 0.1em;
				padding-top: 1em;
				text-shadow: 2px 1px rgba(0, 0, 0, 0.1);

				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border-top: 2px solid black;
				}
			}

			span {
				text-transform: uppercase;
				font-weight: bold;
				color: $mainColor;
			}
		}
	}
}

// CARDS

.kim-title {
	display: flex;
	justify-content: center;
	align-items: center;
	&__us {
		text-transform: uppercase;
		font-size: 3em;
		margin: 0.7em auto;
		span {
			color: $mainColor;
		}
	}
}

.cards {
	display: flex;
	justify-content: center;
	align-items: center;

	&__box {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: 100rem;

		&-card {
			position: relative;
			height: 30em;
			width: 20em;
			margin: 10px;
			background-position: center;
			background-size: cover;
			text-align: center;
			border-radius: 15px;
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);

			button {
				display: none;
			}

			&-text {
				position: absolute;
				bottom: 0;
				background-color: rgba(0, 0, 0, 0.8);
				height: 11em;
				padding: 1em;
				color: $white;
				font-size: 1em;
				border-bottom-right-radius: 15px;
				border-bottom-left-radius: 15px;
				overflow: hidden;

				h1 {
					color: $mainColor;
					margin: 0.1em;
				}
			}
		}
	}

	.one {
		background-image: url("../img/IMG-2938.JPG");
		filter: brightness(85%);
	}
	.two {
		background-image: url("../img/IMG_6385.jpg");
		filter: brightness(85%);
	}
}

//PROJECtS

.projects {
	background-image: $bgcolor;
	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 15rem 0;
		&-title {
			font-size: 2em;
			text-transform: uppercase;
			color: #fff;
		}
	}
}

//OFFERS

.offers {
	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 1.5rem 2rem;
		padding: 2em 0;
		&-one {
			display: flex;
			text-align: center;
			justify-content: center;
			&-title {
				font-size: 2em;
				letter-spacing: 0.1rem;
				text-transform: uppercase;

				span {
					color: $mainColor;
				}
			}

			&-text {
				padding-top: 1em;
				font-size: 2.2rem;
				letter-spacing: 0.2rem;
			}
		}
	}
	&__boxy {
		&-boxes {
			position: relative;
			display: flex;
			text-align: left;
			height: 18em;
			width: 22em;
			margin-top: 1.3em;
			border-radius: 30px;
			box-shadow: 0 0 15px 2px #999;
			overflow: hidden;

			&-number {
				position: absolute;
				margin: 1em 0 0 1em;
				height: 100%;
				width: 100%;
				font-size: 2rem;
				color: $mainColor;
			}

			&-title {
				position: relative;
				margin-top: 0.5em;
				color: $offersColor;
			}

			&-text {
				position: absolute;
				width: 95%;
				margin-top: 0.5em;
				color: $offersColor;
			}
			&-btn-box {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				height: 62.5%;
				width: 87%;

				&-one {
					margin-top: 1em;
					padding: 0.7em 1.5em;
					border: 1px solid $black;
					background: $bgcolor;
					color: $white;
					border-radius: 2.5em;
					text-transform: uppercase;
					cursor: pointer;
					transition: all 0.3s;

					&::before,
					&::after {
						display: block;
						position: absolute;
						content: "";
						z-index: -1;
					}

					&::before {
						top: -30px;
						left: -130px;
						height: 160%;
						width: 100px;
						background-image: linear-gradient(
							-90deg,
							rgba(255, 255, 255, 0.3),
							rgba(255, 255, 255, 0)
						);
						transform: rotate(20deg);
					}

					&:hover::before {
						left: 130%;
					}
				}
			}
		}
	}
}
//INSET
.inset {
	display: flex;
	justify-content: center;
	background-image: $bgcolor;
	color: $white;
	&__boxes {
		position: relative;
		&-left {
			height: 100%;
			width: 100%;
			text-align: left;
			&--title {
				margin-top: 1em;
				margin-bottom: 0.5em;
				margin-left: 0.5em;
				font-size: 3.5rem;
				font-weight: bold;
			}

			&--text {
				margin-left: .8em;
				font-size: 2rem;
				margin-bottom: 1em;
			}
		}
		&-right {
			&--img {
				display: none;
			}
		}
	}
}

// OPINIE //



.reviews {
	.section-heading {
		position: relative;
		margin: 2em 0 2em 0;
		text-align: center;
		text-transform: uppercase;
		font-size: 5rem;
		color: $black;

		&::before {
			position: absolute;
			content: '';
			margin-top: .8em;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			bottom: 0;
			right: 0;
			width: 190px;
			color: black;
			border-bottom: 2px solid $mainColor;
			z-index: 1;
		}
	}

    &__box {
        position: relative;
        margin: 2em;
        padding: 2em;
        border-radius: 8px;
        box-shadow: 3px 3px 10px #2e2e2e2e;
        transition: transform .3s;

        &:hover {
            transform: scale(.95);
        }
    }

    &__box-img {
        position: absolute;
        top: 8%;
        left: 75%;
        transform: translate(-50%, -50%);

        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    &__box-quote {
        margin-bottom: 1em;
        font-size: 3rem;
    }

    &__box-test {
        margin-bottom: 1em;
        font-size: 1.4rem;
    }
}


// CONTACT //

.contact {
	.box {
		display: flex;
		flex-direction: column;
		height: 200px;
		
		&__contact {
			margin-top: 1.5em;
			text-align: center;

			h3 {
				margin-bottom: 1em;
			}

			p {
				margin: 0.5em;
			}
		}
	}
}

// MEDIA

@media (min-width: 768px) {
	.logo {
		display: none;
	}

	.navbar-mobile {
		display: none;
	}

	.burger-btn {
		display: none;
	}
	.navbar-desktop {
		position: absolute;
		width: 100%;
		display: flex;
		padding: 1.5em;
		z-index: 1;

		&__kim {
			position: relative;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 2rem;
			font-weight: bold;
			color: $mainColor;
		}

		&__links {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-direction: row;
			width: 100%;
		}

		&__link {
			position: relative;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 2rem;
			color: $white;
			transition: color 0.3s;

			&:hover {
				color: $mainColor;
			}
		}
		.reviews.section-padding {
			padding: 6em 0;
		}
	}

	.header {
		background-image: url("../img/coding-high.jpg");

		&__title {
			font-size: 4rem;
		}
		&__text {
			letter-spacing: 0.2em;
			font-size: 2rem;
		}

		&__arrow {
			display: block;
			position: absolute;
			top: 45em;
			z-index: 1;
			scale: 1.5;
			cursor: pointer;
			transition: scale 0.3s;

			&:hover {
				scale: 2;
			}
		}

		.heartbeat {
			animation: heartbeat 2s infinite;
		}
	}

	.about-us {
		&__boxes {
			display: flex;
			flex-direction: row;
			overflow: hidden;

			&-one {
				position: relative;
				width: 50%;
				top: 0;
				text-transform: uppercase;

				&-title {
					font-size: 2.5em;
				}
			}

			&-two {
				width: 50%;

				&-text {
					font-size: 3rem;
					letter-spacing: 1px;
					padding: 0;
					padding-left: 2em;

					&::before {
						right: 10em;
						border-left: 2px solid black;
						border-top: none;
					}
				}
			}
		}
	}

	// CARDS
	.kim-title {
		&__us {
			text-transform: uppercase;
			font-size: 5em;
			margin-top: 1em;
			margin-bottom: 0.5em;
			span {
				color: $mainColor;
			}
		}
	}

	.cards {
		&__box {
			width: 100rem;
			flex-wrap: nowrap;

			&-card {
				margin: 0.1em;
				height: 65rem;
				width: 50%;
				text-align: center;
				background-position: center;
				background-size: cover;
				border-radius: 1.5rem;
				box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.7);
				overflow: hidden;

				button {
					display: block;
					position: absolute;
					top: 0.1em;
					right: 0.1em;
					padding: 0.1em;
					background: none;
					border: none;
					color: $white;
					font-size: 3.6rem;
					text-shadow: 0.2rem 0.2rem 0.5rem rgb(0, 0, 0);
					cursor: crosshair;
					z-index: 10;

					&:hover ~ .cards__box-card-text {
						clip-path: circle(120% at 50% 90%);
					}
				}

				&-text {
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					position: absolute;
					height: 100%;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					padding: 2em 1em;
					font-size: 2.3rem;
					background-color: rgba(0, 0, 0, 0.85);
					color: #fff;
					clip-path: circle(0% at 50% 90%);
					transition: clip-path 0.8s;

					h1 {
						color: $mainColor;
						font-size: 4rem;
					}

					h2 {
						margin-bottom: 1em;
						color: $white;
						font-size: 3rem;
					}
				}
			}
		}
		.one {
			background-image: url("../img/IMG-2938.JPG");
			margin-right: 2rem;
		}

		.two {
			background-image: url("../img/IMG_6385.jpg");
			margin-left: 2rem;
		}
	}

	// OFFERS

	.offers {
		&__box {
			position: sticky;
			flex-direction: row;
			align-items: start;

			&-one {
				flex-direction: column;
				width: 50%;

				&-title {
					position: relative;
					&::before {
						position: absolute;
						content: "";
						left: 12.5%;
						top: 0.8em;
						bottom: 0;
						right: 0;
						width: 75%;
						height: 100%;
						border-bottom: 2px solid $mainColor;
						z-index: 100;
					}
				}

				&-text {
					margin-top: 1.5em;
				}
			}
		}

		&__boxy {
			position: static;
			width: 75%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			&-boxes {
				margin-top: 4em;
				width: 35em;

				&-number {
					position: absolute;
					margin: 0;
					left: 1.5em;
					display: flex;
					justify-content: flex-start;
					align-items: center;

					h2 {
						position: relative;
						left: 0.4em;
						font-size: 3.8rem;
					}

					&::after {
						position: absolute;
						content: "";
						left: 4em;
						top: 12.5%;
						bottom: 0;
						right: 0;
						height: 75%;
						border-left: 2px solid black;
						z-index: 100;
					}
				}

				&-title {
					position: absolute;
					left: 25%;
					top: 0;
					font-size: 3.6rem;
					font-weight: 100;
					// display: none;
				}

				&-text {
					position: absolute;
					left: 25%;
					width: 18em;

					// display: none;
				}

				&-btn-box {
					height: 100%;
					position: absolute;
					display: flex;
					justify-content: center;
					align-items: flex-end;
					margin-bottom: 2em;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.about-us {
		&__boxes {
			&-one {
				top: 0;
				&-title {
					font-size: 3em;
				}
			}

			&-two {
				&-text {
					font-size: 2.5em;
				}
			}
		}
	}

	// INSET 

	.inset {
		position: relative;
		margin-top: 5em;
		&__boxes {
			position: relative;
			display: flex;
			
			&-left { 
				justify-content: flex-start;

				&--title {
					margin-right: 1em;
				}

				&--text {
					padding-top: 1.2em;
					margin-right: 1em;
					font-size: 2.5rem;
				}
			}

			&-right {
				justify-content: flex-end;

				&--img {
					height: 100%;
					background-size: cover;
					display: block;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.about-us {
		&__boxes {
			&-one {
				top: 0;
				&--circle {
					display: block;
					position: absolute;
					top: 9.2em;
					right: 4.5em;
					width: 14%;
					animation: rotate 30s infinite linear;
				}
				&-title {
					font-size: 4em;
				}
			}
			&-two {
				&-text {
					font-size: 4.2rem;
					letter-spacing: 1px;
					padding: 0;
					padding-left: 2em;
				}
			}
		}
	}
}
