@use "colors" as *;
@use "mixins" as *;
@use "animations" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Lato", sans-serif;
	height: 100vh;
	font-size: 1.6rem;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.logo {
	position: fixed;
	height: 100px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 11;
	&-kim {
		position: fixed;
		top: 1.1em;
		left: 1em;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 3rem;
		font-weight: bold;
		color: $mainColor;
	}
}

.navbar-desktop {
	display: none;
}

.navbar-mobile {
	position: fixed;
	display: flex;
	height: 100vh;
	width: 100%;
	transform: translateX(100%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 10;

	&--active {
		transform: translateY(0);
	}

	&__links {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-top: 4em;
		width: 100%;
	}

	&__link {
		color: $white;
		margin: 0.5em;
		padding: 1em;
		font-size: 2.5rem;
		text-transform: uppercase;
		text-decoration: none;

		&:hover {
			color: $mainColor;
		}
	}
}

.navbar {
	display: none;
	width: 100%;
	height: 100%;
}
.burger-btn {
	position: fixed;
	top: 1.5em;
	right: 1.5em;
	padding: 1em 2em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 100;

	&__bars,
	&__bars::before,
	&__bars::after {
		@include burgerBTN;
	}

	&__bars {
		width: 100%;

		&::after {
			top: 13px;
			width: 100%;
		}
		&::before {
			top: 27px;
			width: 100%;
		}
	}
}

// HEADER

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url("../img/coding-small.jpg");
	background-size: cover;
	background-position: center;

	&-bg__shadow {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.6);
	}

	&__title {
		position: absolute;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: $white;

		span {
			color: $mainColor;
		}
	}

	&__text {
		position: relative;
		margin-top: 4em;
		text-transform: uppercase;
		color: $white;
	}

	&__arrow {
		display: none;
	}
}

//MAIN

//O NAS

.about-us {
	height: 100vh;

	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-weight: bold;

		&-one {
			width: 100%;
			padding: 2em;
			text-transform: uppercase;

			&--circle {
				display: none;
			}

			&-title {
				font-size: 2em;
				letter-spacing: 0.2em;
				margin: 0.2em;
				padding-left: 0.5em;
			}
		}

		&-two {
			padding: 2em;

			&-text {
				position: relative;
				font-size: 2.7rem;
				letter-spacing: 0.1em;
				padding-top: 2.5em;
				text-shadow: 2px 1px rgba(0, 0, 0, 0.1);

				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border-top: 2px solid black;
				}
			}

			span {
				text-transform: uppercase;
				font-weight: bold;
				color: $mainColor;
			}
		}
	}
}


// MEDIA

// @media (min-width: 576px) {
// 	.about-us {
// 		height: 100vh;
	
// 		&__boxes {
// 			display: flex;
// 			flex-direction: column;
// 			justify-content: center;
// 			align-items: center;
// 			font-weight: bold;
	
// 			&-one {
// 				width: 100%;
// 				padding: 2em;
// 				text-transform: uppercase;
	
// 				&--circle {
// 					display: none;
// 				}
	
// 				&-title {
// 					font-size: 2em;
// 					letter-spacing: 0.2em;
// 					margin: 0.2em;
// 					padding-left: 0.5em;
// 				}
// 			}
	
// 			&-two {
// 				padding: 2em;
// 				width: 100%;
	
// 				&-text {
// 					font-size: 2.1rem;
// 					letter-spacing: 1px;
// 					padding-left: 2em;
	
// 					&::before {
// 						content: "";
// 						position: absolute;
// 						top: 0;
// 						left: 0;
// 						right: 10em;
// 						bottom: 0;
// 						border-top: 2px solid black;
// 					}
// 				}
	
// 				span {
// 					text-transform: uppercase;
// 					font-weight: bold;
// 					color: $mainColor;
// 				}
// 			}
// 		}
// 	}
// }

@media (min-width: 768px) {
	.logo {
		display: none;
	}

	.navbar-mobile {
		display: none;
	}

	.burger-btn {
		display: none;
	}
	.navbar-desktop {
		position: absolute;
		width: 100%;
		display: flex;
		padding: 1.5em;
		z-index: 1;

		&__kim {
			position: relative;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 2rem;
			font-weight: bold;
			color: $mainColor;
		}

		&__links {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-direction: row;
			width: 100%;
		}

		&__link {
			position: relative;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 2rem;
			color: $white;
			transition: color 0.3s;

			&:hover {
				color: $mainColor;
			}
		}
	}

	.header {
		background-image: url("../img/coding-high.jpg");

		&__title {
			font-size: 4rem;
		}
		&__text {
			letter-spacing: 0.2em;
			font-size: 2rem;
		}

		&__arrow {
			display: block;
			position: absolute;
			top: 45em;
			z-index: 1;
			scale: 1.5;
			cursor: pointer;
			transition: scale 0.3s;

			&:hover {
				scale: 2;
			}
		}

		.heartbeat {
			animation: heartbeat 2s infinite;
		}
	}
}

@media (min-width: 1200px) {
	.about-us {
		
		&__boxes {
			display: flex;
			flex-direction: row;
			overflow: hidden;

			&-one {
				position: relative;
				justify-content: flex-start;
				width: 50%;
				bottom: 13.9em;
				text-transform: uppercase;

				&--circle {
					display: block;
					position: absolute;
					top: 11em;
					right: 4em;
					width: 14%;
					animation: rotate 30s infinite linear;
				}

				&-title {
					font-size: 4em;
				}
			}

			&-two {
				width: 50%;

				&-text {
					font-size: 4.2rem;
					letter-spacing: 1px;
					padding: 0;
					padding-left: 2em;

					&::before {
						right: 10em;
						border-left: 2px solid black;
						border-top: none;
					}
				}
			}
		}
	}
}
